@font-face {
    font-family: "SangBleu Sunrise";
    src: url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot");
    src: url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.woff")format("woff"), url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/5ebc09361aef4dbfa14ad8492b8cca11.svg#SangBleu Sunrise")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "SangBleu Sunrise";
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

header {}

.teste {
    font-size: 14px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(225, 0, 128);
}

.main-header {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.une,
.deux,
.trois {
    display: flex;
    align-items: center;
    gap: 20px;
}

.ray,
.roa,
.telo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.une {
    margin-left: 10%;
}

.ray {
    margin-left: 11%;
}

.trois {
    margin-right: 10%;
}

.telo {
    margin-right: 11%;
}

.une a,
.deux a,
.trois a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.ray a,
.roa a,
.telo a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #3f3f3f;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    width: 50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 7%;
    border-radius: 1px;
}

.dropdown-content a {
    font-size: 14px;
    color: #000;
    padding: 8px 14px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: rgb(255, 239, 241);
}

.menu ul li {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: normal;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li i {
    font-size: 0.9em;
    color: #333;
}

.submenu {
    display: none;
    padding-left: 20px;
    font-size: 15px;
    font-style: italic;
    margin-left: 25px;
    color: #8a8989;
}

#text {
    color: white;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

@media (max-width: 600px) {

    .une,
    .trois {
        display: none;
    }

    .deux {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.menu {
    z-index: 11111;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: #f9f8f5;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.menu h2 {
    color: #f40687;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.sub {
    padding: 15px 5px 15px 5px;
}

.hamburger {
    background-color: white;
    font-size: 20px;
    border: none;
}

.sub h3 {
    font-size: 18px;
}

.sub p {
    font-size: 15px;
    font-weight: normal;
}

.imd {
    background-image: url("https://www.fauchon.com/cdn/shop/files/instant_partage.png?v=1727252236&amp;width=1300");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -20px;
    width: 480px;
    position: fixed;
    height: 26vh;
}

.dhd {
    background-color: white;
    width: 400px;
    margin-left: 40px;
    height: 80px;
    margin-top: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.dhd p {
    padding: 30px 0px 0px 15px;
}

.dhd button {
    margin-right: 20px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 4px;
}

.cart {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 33%;
    height: 100%;
    background-color: #f9f8f5;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#open-cart-button {
    background-color: white;
    border: none;
    font-size: 20px;
}

.cart.open {
    display: block;
    transform: translateX(0);
}

.cart h2 {
    margin-top: 300px;
}

.cart p {
    margin: 20px 0;
}

.cart a {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.add-to-cart {
    margin-top: 30px;
    background-color: #f40687;
    color: white;
    font-family: "SangBleu Sunrise";
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.close-cart {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.roa img {
    width: 200px;
}